# Dependencies
**/node_modules/

# Environment secrets
**/.env

# TLS certs / local secrets
**/*.pem

# Logs
*.log
npm-debug.log*

# OS/editor
.DS_Store
.vscode/

# Coverage
coverage/

# Backup files
*.bak
